div.App{
  background-color: #14213d;
}
html {
  background-color: #14213d;
}

.card{
  margin-top: 20px;
}
.movie-card{
  text-align: center;
}
/* inside card body */
div.card-body{
  /* width: 15em; */
  background-color:#eae2b7;
}
.card-img{
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 300px;
}
ul {
  list-style: none;
}
button.btn.btn-primary:disabled{
  background-color: inherit;
  padding-top: 6px;
  border-radius: 5px;
  border-color: lightgrey;
  color: grey;
}
button.btn.btn-primary{
  background-color: #fcbf49;
  border-color: #495057;
  color: #495057;
}
button.btn.btn-info{
  background-color: #d62828;
  border-color: #495057;
  color: #000;
}

.alert-info{
  background-color: #fcbf49;
  border-color: #495057;
  color: #495057;
}
.movie-poster{
  display: flex;
}
div.card-title{
  margin-top: 10%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}
div.card-body{
}
.wrapper{
  /* background-color: #FAF7ED; */
}
.nom-card .card-body{
  background-color: #fcbf49;
}
.nom-card .movie-card{
  background-color: black;
  position: relative;
  animation: slide-nom 5s infinite;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.nom-card {
  animation-timing-function: linear;
}

@keyframes slide-nom {
  from {left: -100px;}
  to {left: 0px;}
}